.section-content {
    .about-info {
        display: flex;
        .content-design {
            width: 5px;
            height: 120px;
            background-color: color(primary);
            z-index: 5;
        }

        p {
            // justify-self: end;
            margin-left: 20px;
            width: 90%;
            font-size: 1.3rem;
            color: color(background);
            text-align: justify;
            font-weight: 400;
            @include mobile {
                font-size: 0.8rem;
            }
        }
    }

    button {
        width: 15rem;
        height: 3.5rem;
        background-color: color(primary);
        border: none;
        border-radius: 0;
        margin: 2rem auto;
        display: block;
        box-shadow: 3px -3px 6px rgba(0, 0, 0, 0.2);
        a {
            font-size: 2.25rem;
        }
    }
}
