@import "./variables";
@import "./nav";
@import "./header";
@import "./about";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: color(white);
}

ul {
    list-style: none;
}

section {
    position: relative;
}

.section-content {
    padding-top: 3rem;
    width: 70%;
    margin: auto;

    h1 {
        color: color(primary);
        font-weight: bold;
        font-size: 4rem;
        padding: 2rem 0;

        @include mobile {
            font-size: 3rem;
        }
    }

    @include mobile {
        padding-top: 1rem;
    }
}

.section-design {
    overflow-x: hidden;
    width: 150%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    color: color(primary);
    font-weight: bold;
    opacity: 0.1;
    font-size: 25rem;
    text-align: center;
    transform: translateX(-50%);

    @include mobile {
        top: 8rem;
        width: 150%;
        font-size: 6rem;
    }
}
