@import "./variables";
@import "./nav";
@import "./header";
@import "./about";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: color(white);
}

ul {
    list-style: none;
}

section {
    padding-top: 3rem;
    width: 70%;
    margin: auto;

    h1 {
        color: color(primary);
        font-weight: bold;
        font-size: 4rem;
        padding: 2rem 0;

        @include mobile {
            font-size: 3rem;
        }
    }
}
